<ul class='country-info__list'>
  <li class='country-info__item'>
    <img class='country-info__flag' src='{{svg}}' alt='flag of {{official}}' />
    <span class='country-info__name'>{{official}}</span>
  </li>
  <li class='country-info__item'>
    <h2 class='country-info__title'>Capital:</h2><p
      class='country-info__text'
    >{{capital}}</p>
  </li>
  <li class='country-info__item'>
    <h2 class='country-info__title'>Population:</h2><p
      class='country-info__text'
    >{{population}}</p>
  </li>
  <li class='country-info__item'>
    <h2 class='country-info__title'>Languages:</h2>
    {{#each languages}}
      <p class='country-info__text'>{{this}}{{#unless @last}},{{/unless}}</p>
    {{/each}}
  </li>
</ul>